<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles.css">
    <title>User List</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-semibold mb-4">User List</h1>
        <!-- Display a list of users -->
        <ul>
            <% users.forEach(function(user) { %>
                <li class="mb-4 p-4 border border-gray-300 rounded-lg shadow-md">
                    <!-- Display ID, First Name, Last Name, and create a link to user detail page -->
                    <a href="/user/<%= user.id %>" class="text-blue-500 hover:underline">
                        ID: <%= user.id %> | Name: <%= user.firstName %> <%= user.lastName %>
                    </a>
                </li>
            <% }); %>
        </ul>
        <div class="mt-4">
            <% if (currentPage > 1) { %>
                <!-- Link to the previous page -->
                <a href="/list?page=<%= currentPage - 1 %>" class="text-blue-500 hover:underline">Previous</a>
            <% } %>
            <% if (users.length === 25) { %>
                <!-- Link to the next page (if there are more users) -->
                <a href="/list?page=<%= currentPage + 1 %>" class="text-blue-500 hover:underline ml-4">Next</a>
            <% } %>
        </div>
    </div>
</body>
</html>
