<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles.css">
    <title>User Detail</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-semibold mb-4">User Detail</h1>
        <!-- Display details of an individual user -->
        <div class="p-4 border border-gray-300 rounded-lg shadow-md">
            <p>ID   : <%= user.id %></p>
            <p>Name : <%= user.firstName %> <%= user.lastName %></p>
            <p>Email : <%= user.email %></p>
            <p>Date of Birth : <%= user.dob %></p>
            <p>Company : <%= user.company %></p>
            <p>Phone : <%= user.phone %></p>
        </div>
          <!-- Include a link to go back to the list view -->
        <a href="/list" class="text-blue-500 hover:underline mt-4">Back to List</a>
    </div>
</body>
</html>