<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('https://www.hdwallpapers.in/download/stars_black_sky_space_during_nighttime_4k_hd_space-1600x900.jpg');
            color: white; /* Changing text color for better visibility */
        }
    </style>
    <title>User Detail</title>
</head>
<body>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-semibold mb-4">User Detail</h1>
        <!-- Display details of an individual user -->
        <div class="p-4 border border-gray-300 rounded-lg shadow-md bg-white bg-opacity-25">
            <p>ID   : <%= user.id %></p>
            <p>Name : <%= user.firstName %> <%= user.lastName %></p>
            <p>Email : <%= user.email %></p>
            <p>Date of Birth : <%= user.dob %></p>
            <p>Company : <%= user.company %></p>
            <p>Phone : <%= user.phone %></p>
        </div>
        <!-- Include a link to go back to the list view -->
        <a href="/LoggedInList" class="text-blue-500 hover:underline mt-4">Back to List</a>
    </div>
</body>
</html>
