<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background: url('media/admin2.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        .glass-bg {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 8px;
        }

        .user-box {
            height: 30 px;
            width: 70 px;
        }
       
    </style>
    <title>User List</title>
</head>
<body class="font-sans text-gray-900 antialiased">

    <div class="container mx-auto py-8">
        <!-- Navigation bar -->
        <div class="flex justify-end pr-4">
            <a href="/" class="bg-blue-500 hover:bg-white-600 text-white font-semibold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">Logout</a>
        </div>

        <div class="py-8">
            <h1 class="text-3xl font-semibold mb-4 text-center text-white">User List</h1>

            <!-- Display a list of users -->
            <ul class="grid gap-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-5 px-10">
                <% users.forEach(function(user) { %>
                    <li class="p-4 border border-gray-700 rounded-lg shadow-md glass-bg user-box">
                        <a href="/user/<%= user.id %>" class="text-white hover:underline block">
                            <%= user.id %>: <%= user.firstname %> <%= user.lastname %>
                        </a>
                    </li>
                <% }); %>
            </ul>
            <!-- Pagination -->
            <div class="mt-8 flex justify-center">
                <% if (currentPage > 1) { %>
                    <a href="/LoggedInList?page=<%= currentPage - 1 %>" class="text-white-500 hover:underline mr-4">Previous</a>
                <% } %>
                <% if (users.length === 25) { %>
                    <a href="/LoggedInList?page=<%= currentPage + 1 %>" class="text-white-500 hover:underline">Next</a>
                <% } %>
            </div>
        </div>
    </div>

</body>
</html>
